<footer>
    <div>
        <p>Nombre del sitio</p>
        <div>
            <a href="#" aria-label="Facebook">f</a>
            <a href="#" aria-label="LinkedIn">in</a>
            <a href="#" aria-label="YouTube">YT</a>
            <a href="#" aria-label="Instagram">IG</a>
        </div>
    </div>
    <div>
        <div>
            <h4>Tema</h4>
            <ul>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
            </ul>
        </div>
        <div>
            <h4>Tema</h4>
            <ul>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
            </ul>
        </div>
        <div>
            <h4>Tema</h4>
            <ul>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
                <li><a href="#">Página</a></li>
            </ul>
        </div>
    </div>
</footer>

